/* Cards de Serviço */
.service-card {
    transition: all 0.2s ease-in-out;
    border-bottom: 4px solid transparent;
}

.service-card:hover {
    transform: translateY(-2px);
    border-bottom-color: #1351b4;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.service-card:hover .icon-container {
    color: #1351b4;
}

.service-card:hover .card-title {
    color: #1351b4;
    text-decoration: underline;
}

/* Animação do Carrossel */
.carousel-item {
    display: none;
    animation: fadeEffect 1s;
}

.carousel-item.active {
    display: block;
}

@keyframes fadeEffect {
    from { opacity: 0.4; }
    to { opacity: 1; }
}

/* Bolinhas de Navegação */
.dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 4px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active, .dot:hover {
    background-color: #1351b4;
}