/* Cores do Logo gov.br */
.logo-g { color: #1f58b9; font-weight: 900; } 
.logo-o { color: #f5a32f; font-weight: 900; }
.logo-v { color: #1f58b9; font-weight: 900; } 
.logo-br { color: #00a94c; font-weight: 900; }